<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="E-commerce portal and builder. Created by Maki Spariva">

	<!-- title -->
	<title>e-Shop</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="~/images/general/favicon.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="~/lib/template/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="~/lib/template/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="~/lib/template/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="~/lib/template/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="~/lib/template/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="~/lib/template/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="~/lib/template/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="~/lib/template/css/responsive.css">

</head>
<body>

	<!--PreLoader-->
	<div class="loader">
		<div class="loader-inner">
			<div class="circle"></div>
		</div>
	</div>
	<!--PreLoader Ends-->
	<!--Navbar-->
	<partial name="_Navbar" />

		@RenderBody()

	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
						<p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>34/8, East Hukupara, Gifirtok, Sadan.</li>
							<li>support@fruitkha.com</li>
							<li>+00 111 222 3333</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a asp-action="Home" asp-controller="Home">Home</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="services.html">Shop</a></li>
							<li><a href="news.html">News</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="index.html">
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>
						Copyrights &copy; 20125 - <a href="https://github.com/spariva">Maki Spariva</a>, All Rights Reserved.<br>
					</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->

	<!-- jquery -->
	<script src="~/lib/template/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="~/lib/template/js/bootstrap.min.js"></script>
	<!-- countdown -->
	<script src="~/lib/template/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="~/lib/template/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="~/lib/template/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="~/lib/template/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="~/lib/template/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="~/lib/template/js/jquery.meanmenu.min.js"></script>
    <!-- cart js -->
	<script src="~/js/cart.js"></script>
	<!-- sticker js -->
	<script src="~/lib/template/js/sticker.js"></script>
	<!-- main js -->
	<script src="~/lib/template/js/main.js"></script>
	<!-- Fonts Awesome -->
	<script src="https://kit.fontawesome.com/4c34732817.js" crossorigin="anonymous"></script>
    <!-- sweet alert js -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)

</body>
</html>