<header>
    <!-- header -->
    <div class="top-header-area" id="sticker">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 text-center">
                    <div class="main-menu-wrap">
                        <!-- logo -->
                        <div class="site-logo">
                            <a asp-action="Home" asp-controller="Home">
                                <img src="~/images/general/logo.jpg" alt="Logo marketplace" width="80px">
                            </a>
                        </div>
                        <!-- logo -->
                        <!-- menu start -->
                        <nav class="main-menu">
                            <ul>
                                <li class="current-list-item">
                                    <a asp-action="Home" asp-controller="Home">Home</a>
                                </li>
                                @* <li><a asp-action="Home" asp-controller="AboutUs">About us</a></li> *@
                                <li>
                                    <a href="#">Shops</a>
                                    <ul class="sub-menu">
                                        <li><a asp-controller="Stores" asp-action="StoreCreate">Create shop</a></li>
                                        <li><a asp-controller="Stores" asp-action="Stores">Shops</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="header-icons">
                                        <a class="shopping-cart" asp-controller="Cart" asp-action="Cart"><i class="fas fa-shopping-cart"></i></a>
                                        @* <a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a> *@
                                        <partial name="_UserMenu" />
                                    </div>
                                </li>
                            </ul>
                        </nav>
                        @* <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a> *@
                        <div class="mobile-menu"></div>
                        <!-- menu end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header -->
    <!-- search area -->
    @* <div class="search-area"> *@
    @*     <div class="container"> *@
    @*         <div class="row"> *@
    @*             <div class="col-lg-12"> *@
    @*                 <span class="close-btn"><i class="fas fa-window-close"></i></span> *@
    @*                 <div class="search-bar"> *@
    @*                     <div class="search-bar-tablecell"> *@
    @*                         <h3>Search For:</h3> *@
    @*                         <input type="text" placeholder="Keywords"> *@
    @*                         <button type="submit">Search <i class="fas fa-search"></i></button> *@
    @*                     </div> *@
    @*                 </div> *@
    @*             </div> *@
    @*         </div> *@
    @*     </div> *@
    @* </div> *@
    <!-- end search area -->
</header>