@if (Context.User.Identity.IsAuthenticated)
{
    <a asp-controller="Users" asp-action="Profile"><i class="fa-solid fa-circle-user"></i></a>
    <a asp-controller="Users" asp-action="LogOut"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
}
else
{
    <a asp-controller="Users" asp-action="Profile">Login</a>
    <a asp-controller="Users" asp-action="Register">Register</a>
}