/****** Object:  Table [dbo].[PAYMENTS]    Script Date: 29/04/2025 13:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENTS](
	[PAYMENT_ID] [int] NOT NULL,
	[PURCHASE_ID] [int] NOT NULL,
	[USER_ID] [int] NOT NULL,
	[PAYMENT_METHOD] [nvarchar](50) NOT NULL,
	[TRANSACTION_ID] [nvarchar](50) NOT NULL,
	[AMOUNT] [decimal](10, 2) NOT NULL,
	[PAYMENT_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PAYMENT_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROD_CAT]    Script Date: 29/04/2025 13:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROD_CAT](
	[PRODUCT_ID] [int] NOT NULL,
	[CATEGORY_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC,
	[CATEGORY_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 29/04/2025 13:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTS](
	[PRODUCT_ID] [int] NOT NULL,
	[STORE_ID] [int] NOT NULL,
	[PRODUCT_NAME] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](200) NULL,
	[IMAGE] [nvarchar](255) NULL,
	[PRICE] [decimal](10, 2) NOT NULL,
	[STOCK_QUANTITY] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTS_CATEGORIES]    Script Date: 29/04/2025 13:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTS_CATEGORIES](
	[CATEGORY_ID] [int] NOT NULL,
	[CATEGORY_NAME] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CATEGORY_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PURCHASE_ITEMS]    Script Date: 29/04/2025 13:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PURCHASE_ITEMS](
	[PURCHASE_ITEM_ID] [int] NOT NULL,
	[PURCHASE_ID] [int] NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[QUANTITY] [int] NOT NULL,
	[PRICE_AT_PURCHASE] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PURCHASE_ITEM_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PURCHASE_VENDOR_MAPPING]    Script Date: 29/04/2025 13:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PURCHASE_VENDOR_MAPPING](
	[PURCHASE_VENDOR_ID] [int] NOT NULL,
	[PURCHASE_ID] [int] NOT NULL,
	[VENDOR_ID] [int] NOT NULL,
	[VENDOR_AMOUNT] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PURCHASE_VENDOR_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PURCHASES]    Script Date: 29/04/2025 13:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PURCHASES](
	[PURCHASE_ID] [int] NOT NULL,
	[USER_ID] [int] NOT NULL,
	[TOTAL_PRICE] [decimal](10, 2) NOT NULL,
	[PAYMENT_STATUS] [nvarchar](50) NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[STRIPE_SESSION_ID] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PURCHASE_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STORES]    Script Date: 29/04/2025 13:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STORES](
	[STORE_ID] [int] NOT NULL,
	[STORE_NAME] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[IMAGE] [nvarchar](255) NULL,
	[CATEGORY] [nvarchar](50) NULL,
	[USER_ID] [int] NOT NULL,
	[STRIPE_ID] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[STORE_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 29/04/2025 13:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[USER_ID] [int] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[PASSWORD_HASH] [varbinary](max) NOT NULL,
	[SALT] [nvarchar](50) NOT NULL,
	[TELEPHONE] [nvarchar](15) NULL,
	[ADDRESS] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[PAYMENTS] ([PAYMENT_ID], [PURCHASE_ID], [USER_ID], [PAYMENT_METHOD], [TRANSACTION_ID], [AMOUNT], [PAYMENT_DATE]) VALUES (1, 1, 1, N'Credit Card', N'TXN12345', CAST(60.00 AS Decimal(10, 2)), CAST(N'2025-03-05T09:23:05.560' AS DateTime))
INSERT [dbo].[PAYMENTS] ([PAYMENT_ID], [PURCHASE_ID], [USER_ID], [PAYMENT_METHOD], [TRANSACTION_ID], [AMOUNT], [PAYMENT_DATE]) VALUES (2, 2, 2, N'PayPal', N'TXN67890', CAST(22.00 AS Decimal(10, 2)), CAST(N'2025-03-05T09:23:05.560' AS DateTime))
GO
INSERT [dbo].[PROD_CAT] ([PRODUCT_ID], [CATEGORY_ID]) VALUES (1, 1)
INSERT [dbo].[PROD_CAT] ([PRODUCT_ID], [CATEGORY_ID]) VALUES (2, 1)
INSERT [dbo].[PROD_CAT] ([PRODUCT_ID], [CATEGORY_ID]) VALUES (3, 2)
GO
INSERT [dbo].[PRODUCTS] ([PRODUCT_ID], [STORE_ID], [PRODUCT_NAME], [DESCRIPTION], [IMAGE], [PRICE], [STOCK_QUANTITY]) VALUES (1, 1, N'Silver Hoop Earrings', N'Handmade silver hoop earrings.', N'hoop_earrings.jpg', CAST(25.00 AS Decimal(10, 2)), 10)
INSERT [dbo].[PRODUCTS] ([PRODUCT_ID], [STORE_ID], [PRODUCT_NAME], [DESCRIPTION], [IMAGE], [PRICE], [STOCK_QUANTITY]) VALUES (2, 1, N'Beaded Earrings', N'Colorful beaded earrings.', N'Captura de pantalla 2025-03-07 091748.png', CAST(18.00 AS Decimal(10, 2)), 20)
INSERT [dbo].[PRODUCTS] ([PRODUCT_ID], [STORE_ID], [PRODUCT_NAME], [DESCRIPTION], [IMAGE], [PRICE], [STOCK_QUANTITY]) VALUES (3, 2, N'Wool Scarf', N'Warm wool scarf in neutral tones.', N'wool_scarf.jpg', CAST(35.00 AS Decimal(10, 2)), 15)
GO
INSERT [dbo].[PRODUCTS_CATEGORIES] ([CATEGORY_ID], [CATEGORY_NAME]) VALUES (1, N'Earrings')
INSERT [dbo].[PRODUCTS_CATEGORIES] ([CATEGORY_ID], [CATEGORY_NAME]) VALUES (2, N'Winter Clothing')
INSERT [dbo].[PRODUCTS_CATEGORIES] ([CATEGORY_ID], [CATEGORY_NAME]) VALUES (3, N'Zines')
GO
INSERT [dbo].[PURCHASE_ITEMS] ([PURCHASE_ITEM_ID], [PURCHASE_ID], [PRODUCT_ID], [QUANTITY], [PRICE_AT_PURCHASE]) VALUES (1, 1, 1, 1, CAST(25.00 AS Decimal(10, 2)))
INSERT [dbo].[PURCHASE_ITEMS] ([PURCHASE_ITEM_ID], [PURCHASE_ID], [PRODUCT_ID], [QUANTITY], [PRICE_AT_PURCHASE]) VALUES (2, 1, 3, 1, CAST(35.00 AS Decimal(10, 2)))
INSERT [dbo].[PURCHASE_ITEMS] ([PURCHASE_ITEM_ID], [PURCHASE_ID], [PRODUCT_ID], [QUANTITY], [PRICE_AT_PURCHASE]) VALUES (3, 2, 5, 1, CAST(10.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[PURCHASE_VENDOR_MAPPING] ([PURCHASE_VENDOR_ID], [PURCHASE_ID], [VENDOR_ID], [VENDOR_AMOUNT]) VALUES (1, 1, 1, CAST(25.00 AS Decimal(10, 2)))
INSERT [dbo].[PURCHASE_VENDOR_MAPPING] ([PURCHASE_VENDOR_ID], [PURCHASE_ID], [VENDOR_ID], [VENDOR_AMOUNT]) VALUES (2, 1, 2, CAST(35.00 AS Decimal(10, 2)))
INSERT [dbo].[PURCHASE_VENDOR_MAPPING] ([PURCHASE_VENDOR_ID], [PURCHASE_ID], [VENDOR_ID], [VENDOR_AMOUNT]) VALUES (3, 2, 3, CAST(22.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[PURCHASES] ([PURCHASE_ID], [USER_ID], [TOTAL_PRICE], [PAYMENT_STATUS], [CREATED_AT], [STRIPE_SESSION_ID]) VALUES (1, 1, CAST(60.00 AS Decimal(10, 2)), N'Completed', CAST(N'2025-03-05T09:23:05.560' AS DateTime), N'cs_test_a1y9mgjRDZjPwSCdWvNoJY2Nfei3pO2nInJDItlywv6oKmRg3gRPE9hEzg')
INSERT [dbo].[PURCHASES] ([PURCHASE_ID], [USER_ID], [TOTAL_PRICE], [PAYMENT_STATUS], [CREATED_AT], [STRIPE_SESSION_ID]) VALUES (2, 2, CAST(22.00 AS Decimal(10, 2)), N'Completed', CAST(N'2025-03-05T09:23:05.560' AS DateTime), N'cs_test_a1y9mgjRDZjPwSCdWvNoJY2Nfei3pO2nInJDItlywv6oKmRg3gRPE9hEzg')
INSERT [dbo].[PURCHASES] ([PURCHASE_ID], [USER_ID], [TOTAL_PRICE], [PAYMENT_STATUS], [CREATED_AT], [STRIPE_SESSION_ID]) VALUES (3, 3, CAST(10.00 AS Decimal(10, 2)), N'Pending', CAST(N'2025-03-13T13:50:41.613' AS DateTime), N'cs_test_a1lRyogWU0NF0jjR6YMRPLZeExI9Gv7tPOtFxS4otD7HjRVQROiPc828sj')
GO
INSERT [dbo].[STORES] ([STORE_ID], [STORE_NAME], [EMAIL], [IMAGE], [CATEGORY], [USER_ID], [STRIPE_ID]) VALUES (1, N'Handmade Earring', N'earrings@example.com', N'qiyi-mastermorphix.jpg', N'Jewelry', 1, N'acct_1R20z9IKfaVlgsPa')
INSERT [dbo].[STORES] ([STORE_ID], [STORE_NAME], [EMAIL], [IMAGE], [CATEGORY], [USER_ID], [STRIPE_ID]) VALUES (3, N'Artistic Fanzines', N'fanzines@example.com', N'yongjun-special-2x2x2-cube-elephant-blue-35135.jpg', N'ART', 2, N'acct_2Nv0FGQ9RKHgCVdZ')
INSERT [dbo].[STORES] ([STORE_ID], [STORE_NAME], [EMAIL], [IMAGE], [CATEGORY], [USER_ID], [STRIPE_ID]) VALUES (4, N'Test', N'test@mail.com', N'26dfa7e1eca203c545b2d58711ca29ad.jpg', N'TEST', 3, N'acct_1R1msgIpAwZNzoBT')
GO
INSERT [dbo].[USERS] ([USER_ID], [NAME], [EMAIL], [PASSWORD_HASH], [SALT], [TELEPHONE], [ADDRESS]) VALUES (1, N'Alice Smith', N'alice.smith@example.com', 0x1234, N'salt123', N'123456789', N'123 Main St')
INSERT [dbo].[USERS] ([USER_ID], [NAME], [EMAIL], [PASSWORD_HASH], [SALT], [TELEPHONE], [ADDRESS]) VALUES (2, N'Bob Johnson', N'bob.johnson@example.com', 0x5678, N'salt456', N'987654321', N'456 Elm St')
INSERT [dbo].[USERS] ([USER_ID], [NAME], [EMAIL], [PASSWORD_HASH], [SALT], [TELEPHONE], [ADDRESS]) VALUES (3, N'Ace Smith', N'ace.smith@example.com', 0x1232, N'salt125', N'123456789', N'1 Main St')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__STORES__161CF72497FAC76C]    Script Date: 29/04/2025 13:19:38 ******/
ALTER TABLE [dbo].[STORES] ADD UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__STORES__AF865DE9D40613A3]    Script Date: 29/04/2025 13:19:38 ******/
ALTER TABLE [dbo].[STORES] ADD UNIQUE NONCLUSTERED 
(
	[STORE_NAME] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USERS__161CF724F2CE0257]    Script Date: 29/04/2025 13:19:38 ******/
ALTER TABLE [dbo].[USERS] ADD UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PAYMENTS] ADD  DEFAULT (getdate()) FOR [PAYMENT_DATE]
GO
ALTER TABLE [dbo].[PURCHASES] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[PAYMENTS]  WITH CHECK ADD  CONSTRAINT [FK_PAYMENTS_PURCHASES] FOREIGN KEY([PURCHASE_ID])
REFERENCES [dbo].[PURCHASES] ([PURCHASE_ID])
GO
ALTER TABLE [dbo].[PAYMENTS] CHECK CONSTRAINT [FK_PAYMENTS_PURCHASES]
GO
ALTER TABLE [dbo].[PAYMENTS]  WITH CHECK ADD  CONSTRAINT [FK_PAYMENTS_USERS] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USERS] ([USER_ID])
GO
ALTER TABLE [dbo].[PAYMENTS] CHECK CONSTRAINT [FK_PAYMENTS_USERS]
GO
ALTER TABLE [dbo].[PROD_CAT]  WITH CHECK ADD  CONSTRAINT [FK_PROD_CAT_CATEGORIES] FOREIGN KEY([CATEGORY_ID])
REFERENCES [dbo].[PRODUCTS_CATEGORIES] ([CATEGORY_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PROD_CAT] CHECK CONSTRAINT [FK_PROD_CAT_CATEGORIES]
GO
ALTER TABLE [dbo].[PROD_CAT]  WITH CHECK ADD  CONSTRAINT [FK_PROD_CAT_PRODUCTS] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[PRODUCTS] ([PRODUCT_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PROD_CAT] CHECK CONSTRAINT [FK_PROD_CAT_PRODUCTS]
GO
ALTER TABLE [dbo].[PURCHASE_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASE_ITEMS_PRODUCTS] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[PRODUCTS] ([PRODUCT_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PURCHASE_ITEMS] CHECK CONSTRAINT [FK_PURCHASE_ITEMS_PRODUCTS]
GO
ALTER TABLE [dbo].[PURCHASE_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASE_ITEMS_PURCHASES] FOREIGN KEY([PURCHASE_ID])
REFERENCES [dbo].[PURCHASES] ([PURCHASE_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PURCHASE_ITEMS] CHECK CONSTRAINT [FK_PURCHASE_ITEMS_PURCHASES]
GO
ALTER TABLE [dbo].[PURCHASE_VENDOR_MAPPING]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASE_VENDOR_MAPPING_PURCHASES] FOREIGN KEY([PURCHASE_ID])
REFERENCES [dbo].[PURCHASES] ([PURCHASE_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PURCHASE_VENDOR_MAPPING] CHECK CONSTRAINT [FK_PURCHASE_VENDOR_MAPPING_PURCHASES]
GO
ALTER TABLE [dbo].[PURCHASES]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASES_USERS] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USERS] ([USER_ID])
GO
ALTER TABLE [dbo].[PURCHASES] CHECK CONSTRAINT [FK_PURCHASES_USERS]
GO
ALTER TABLE [dbo].[STORES]  WITH CHECK ADD  CONSTRAINT [FK_STORES_USERS] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USERS] ([USER_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[STORES] CHECK CONSTRAINT [FK_STORES_USERS]
GO
ALTER TABLE [dbo].[PURCHASES]  WITH CHECK ADD CHECK  (([PAYMENT_STATUS]='Failed' OR [PAYMENT_STATUS]='Completed' OR [PAYMENT_STATUS]='Pending'))
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD CHECK  (([TELEPHONE] like '[0-9]%'))
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_USER]    Script Date: 29/04/2025 13:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_USER](@USER_ID INT)
AS
    -- Update PURCHASES Table
    UPDATE PURCHASES
    SET USER_ID = 0
    WHERE USER_ID = @USER_ID;

    -- Update PAYMENTS Table
    UPDATE PAYMENTS
    SET USER_ID = 0
    WHERE USER_ID = @USER_ID;

    -- Delete the User
    DELETE FROM USERS
    WHERE USER_ID = @USER_ID;
GO
